<section id="list-of-companies">
	<div class="section-margin-for-scroll"></div>
	<div flex-gt-sm="100" flex>
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>List of companies</span>
      </div>
    </md-toolbar>
    <md-content>
      <md-list flex>
        <md-subheader class="md-no-sticky">{{listOfCompanies.companies.length}} companies</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="company in listOfCompanies.companies.slice(    
        listOfCompanies.indexOfCurrentPage * 5, listOfCompanies.indexOfCurrentPage * 5 + 5)" ng-click="listOfCompanies.showTabDialog($event, $index)">
          <img ng-src="https://easycompanies.com.au/assets/1401090891_pen_paper_business_equipment_tools_flat_icon_symbol-1da5a7b70ef40bb33e22cf1c85bbf391046b04d2813174b158f38e2036f4c504.png" class="md-avatar" alt="{{item.who}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{company.companyName}}</h3>
            <md-chips ng-model="company.companyGoods" readonly="true"></md-chips>
          </div>
        </md-list-item>
        <md-divider></md-divider>
      </md-list>
    </md-content>
    <pagination companies="listOfCompanies.companies"
                p-index-of-current-page="listOfCompanies.indexOfCurrentPage"
                change-current-page="listOfCompanies.changeCurrentPage({index: index})"></pagination>
  </div>
  <md-divider></md-divider>

</section>
