<md-dialog aria-label="Mango (Fruit)">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{model.companies[indexOfCurrentCompany].companyName}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="company">
          <md-content class="md-padding">
            <h1 class="md-display-2">{{model.companies[indexOfCurrentCompany].companyName}}</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus inventore soluta accusamus ab earum reprehenderit quasi laborum voluptatem error dolore, voluptate, odio tenetur. Quas, adipisci totam velit ad, pariatur quaerat.</p>
            <form ng-submit="$event.preventDefault()">
              <p>You can change company name:</p>
              <md-autocomplete
                  md-selected-item="ctrl.selectedItem"
                  md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                  md-search-text="ctrl.searchText"
                  md-selected-item-change="ctrl.selectedItemChange(item)"
                  md-items="item in ctrl.querySearch(ctrl.searchText)"
                  md-item-text="item.display"
                  md-min-length="0"
                  placeholder="What is your favorite US state?">
                <md-item-template>
                  <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                  No states matching "{{ctrl.searchText}}" were found.
                  <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                </md-not-found>
              </md-autocomplete>
              <br/>
            </form>
            <md-button class="md-raised md-warn" ng-click="deleteCompany()">DELETE</md-button>
          </md-content>
        </md-tab>
        <md-tab label="products">
          <md-content class="md-padding">
            <h1 class="md-display-2">Products of {{model.companies[indexOfCurrentCompany].companyName}}: </h1>
            <md-chips ng-model="model.companies[indexOfCurrentCompany].companyGoods" readonly="false" md-enable-chip-edit="true"></md-chips>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
  </form>
</md-dialog>